extend layout
block content
  .row
    .col-md-4
      h1.reward.reward-1 Chips
      - each uri in r.chips
        a(href=uri.s)= uri.parsed.query.reward_key
        br
    .col-md-4
      h1.reward.reward-4 OJs
      - each uri in r.ojs
        a(href=uri.s)= uri.parsed.query.reward_key
        br
    .col-md-4
      h1.reward.reward-4 Coins
      - each uri in r.coins
        a(href=uri.s)= uri.parsed.query.reward_key
        br
