extend layout
block content
  script(src='/javascripts/crawler.js')
  .row.rewards
    .col-md-4#chips
      .panel.panel-primary
        .panel-heading
          h2 Chips
        .panel-body
          | Limit: 1 per day
        ul.list-group
    .col-md-4#ojs
      .panel.panel-primary
        .panel-heading
          h2 OJs
        .panel-body
          | Limit: 3 per day
        ul.list-group
    .col-md-4#coins
      .panel.panel-primary
        .panel-heading
          h2 Coins
        .panel-body
          | Limit: 3 per day
        ul.list-group
