body {
  padding: 0 10px;
}

.rewards {
  h2 {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: middle right;
    padding-left: 40px;
    margin: 0;
  }
  
  #chips h2 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_1.png); }
  #ojs   h2 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_0.png); }
  #coins h2 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_4.png); }
}
