.reward {
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: middle right;
  padding-left: 45px;
}
.reward-1 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_1.png); }
.reward-0 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_0.png); }
.reward-4 { background-image: url(https://duapys4lcv8ju.cloudfront.net/r18866/pics/rewards/reward_4.png); }
